body {
  background-color: #a5a58d;
}
.header{
  width: 100vw;
  text-align: center;
  background-color: #4cc9f0;
  margin-top: 0%;
  height: 75px;
  padding: 35px;
  position: relative;

}
.page-content {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
.add-workout-form {
  font-size: x-large;
  align-items: center;
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  border: 2px black solid;

}
.add-button {
  background-color: #4cc9f0;
  width: 200px;
  height: 60px;
  border-radius: 10%;
  margin-top: 0px;
  margin: 20px;
}
.add-button:hover {
  cursor: pointer;
  background-color: #3a0ca3;
}
.workout-list {
  width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    border: 2px black solid;
    text-align: center;
}
.delete {
  background-color: #4cc9f0;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  margin-left: 30%;
}
.delete:hover {
  cursor: pointer;
  background-color: #3a0ca3;
}
